 <div class="container">
    <div class="row">

      <div class="col-md-6 p-5 text-center">
        <h3 class="display-4">Make Money.</h3>
        <a href="/orders" class="btn btn-lg btn-danger btn-block p-5">DELIVER</a>
      </div>

      <div class="col-md-6 p-5 text-center">
          <h3 class="display-4">Save Effort.</h3>
          <a href="/order/add" class="btn btn-lg btn-success btn-block p-5">ORDER</a> 
      </div>

    </div>


  </div>