
  <div class="jumbotron">
    <div class="container">
    <h1 class="display-3">Make Money. Save Effort.</h1>
    <p class="lead">On-campus 'Essentials' Delivery Service.</p>
    <hr class="my-4">
    <p class="lead ">
      <span class="block">Enter your Kent ID</span>      
      <div class="input-group mb-2">
        <input type="text" class="form-control" id="kentid" placeholder="mm871">
        <div class="input-group-addon">@kent.ac.uk</div>
      </div>
      <a class="btn btn-warning btn-lg d-block mb-2" href="/signup" role="button">Get Started</a>
      <a class="btn btn-success btn-lg d-block mb-2" href="/login" role="button">Log in</a>
    </p>
  </div>
  </div>