    <div class="container" ng-controller="ordersPageController">
        <h1 class="display-3">Live Orders</h1>
        <div class="row">
          <div class="col-md-4" ng-repeat="order in orders">

              <div class="card" style="width: 20rem;" >
                  <div class="card-body">
                      <h4 class="card-title">£{{order.price}}</h4>
                      <h6 class="card-subtitle mb-2 text-muted">Waiting for Delivery</h6>
                      <p class="card-text">
                          <ul>
                        <li ng-repeat="orderItem in order.items">{{orderItem}}</li>
                      </ul></p>
                      <a href="/order/{{order.id}}" class="card-link btn btn-success">Do Delivery</a>
                  </div>
              </div>

          </div>
        </div>      

    </div>