<!DOCTYPE html>
<html>

<head>
  <title>New Sails App</title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
    Stylesheets and Preprocessors
    ==============================
    You can always bring in CSS files manually with `<link>` tags, or asynchronously
    using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
    of Sails' conventional asset pipeline (boilerplate Gruntfile).
    By default, stylesheets from your `assets/styles` folder are included
    here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
    are supported. In production, your styles will be minified and concatenated into
    a single file.
    To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
    For example, here are a few things you could do:
    + Change the order of your CSS files
    + Import stylesheets from other directories
    + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

  <!--STYLES-->
  <!--STYLES END-->
</head>

<body ng-app="essde" ng-controller="adminPageController" ng-cloak>
  <nav class="navbar navbar-dark bg-success">
    <a class="navbar-brand" href="/">Essentials Delivery</a>
  </nav>
  <div class="container">


    <!-- USERS PAGE -->
    <div class="panel panel-default">
      <h1 class="display-3">Admin</h1>
      <!-- Error state -->
      <div ng-show="userList.errorMsg">
        <h5>Oops!</h5>
        <p>Looks like an error occurred. Please try again later.</p>
        <code>
      {{userList.errorMsg}}
      </code>
      </div>
      <!-- Loading state -->
      <div ng-show="userList.loading">
        <span class="overlord-loading-spinner fa fa-spinner"></span>
        <span>Loading users...</span>
      </div>
      <!-- Empty state -->
      <div ng-show="userList.contents.length === 0">
        <!--
      Note that this empty state will never actually matter because there
      will always be at least one user (the currently-logged-in admin).
      -->
        <span>No users yet.</span>
      </div>
      <table class="table" ng-show="!userList.loading && userList.contents.length > 0">
        <tr>
          <th></th>
          <th>id <span class="glyphicon glyphicon-lock gi-075"></th>
        <th>email <span class="glyphicon glyphicon-lock gi-075"></th>
        <th>admin</th>
        <th>banned</th>
        <th>deleted</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr ng-repeat="user in userList.contents">
        <td></td>
        <td> {{user.id}} </td>
        <td> {{user.email}} </td>
        <td> <input type="checkbox" ng-model="user.admin" ng-click="saveAdmin(user.id, user.admin)"> </td>
        <td> <input type="checkbox" ng-model="user.banned" ng-click="saveBanned(user.id, user.banned)"> </td>
        <td> <input type="checkbox" ng-model="user.deleted" ng-click="saveDeleted(user.id, user.deleted)"> </td>
      </table>
    </div>



  </div>
  <!--
    Client-side Templates
    ========================
    HTML templates are important prerequisites of modern, rich client applications.
    To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
    that you load these templates client-side.
    By default, your Gruntfile is configured to automatically load and precompile
    client-side JST templates in your `assets/templates` folder, then
    include them here automatically (between TEMPLATES and TEMPLATES END).
    To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
    For example, here are a few things you could do:
    + Import templates from other directories
    + Use a different template engine (handlebars, jade, dust, etc.)
    + Internationalize your client-side templates using a server-side
    stringfile before they're served.
    -->
  <!--TEMPLATES-->
  <!--TEMPLATES END-->
  <!--
    Client-side Javascript
    ========================
    You can always bring in JS files manually with `script` tags, or asynchronously
    on the client using a solution like AMD (RequireJS).  Or, if you like, you can
    take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).
    By default, files in your `assets/js` folder are included here
    automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
    CoffeeScript (.coffee) are supported. In production, your scripts will be minified
    and concatenated into a single file.
    To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
    For example, here are a few things you could do:
    + Change the order of your scripts
    + Import scripts from other directories
    + Use a different preprocessor, like TypeScript
    -->
  <!--SCRIPTS-->
  <!--SCRIPTS END-->
</body>

</html>